#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: #fe7b0f ;
}

#copyButton:hover {
    -fx-background-color: #f5a856;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#004e88, 20%);
}
