#copyButton, #helpMessage {
    -fx-text-fill: white;
    -fx-font-size: 11pt;
    -fx-font-family: "Courier New";
}

#copyButton {
    -fx-background-color: #fe7b0f ;
    -fx-font-size: 11pt;
    -fx-font-family: "Courier New";
}

#copyButton:hover {
    -fx-background-color: #f5a856;
    -fx-font-size: 11pt;
    -fx-font-family: "Courier New";
}

#copyButton:armed {
    -fx-background-color: darkgray;
    -fx-font-size: 11pt;
    -fx-font-family: "Courier New";
}

#helpMessageContainer {
    -fx-background-color: derive(#004e88, 20%);
    -fx-font-size: 11pt;
    -fx-font-family: "Courier New";
}
